.card_center{
    font-family: 'Comic Sans MS', serif;
    font-size: 9vh; 
    color: black;
    text-shadow: 0.1vh 0 whitesmoke, -0.1vh 0 whitesmoke, 0 0.1vh whitesmoke, 0 -0.1vh whitesmoke;
    transform: translateX(-50%) translateY(-50%); 
    position: absolute; 
    top: 50%; 
    left: 50%;
}
.card_topleft{
    font-family: 'Comic Sans MS', serif;
    font-size: 3.5vh; 
    color: whitesmoke;
    position: absolute;
    left: 5%;
}
.card_topright{
    font-family: 'Comic Sans MS', serif;
    font-size: 3.5vh; 
    color: whitesmoke;
    position: absolute;
    right: 5%;
}
.card_botleft{
    font-family: 'Comic Sans MS', serif;
    font-size: 3.5vh; 
    color: whitesmoke;
    transform: rotate(180deg); 
    position: absolute;
    bottom: 0%; 
    left: 5%;
}
.card_botright{
    font-family: 'Comic Sans MS', serif;
    font-size: 3.5vh; 
    color: whitesmoke;
    transform: rotate(180deg); 
    position: absolute; 
    bottom: 0%; 
    right: 5%;
}

.played_cards_box, .card1_box, .card2_box, .card3_box, .card4_box, .card5_box, .card6_box, .card7_box, .card8_box{
    width: 17.1vh; 
    height: 26vh; 
    background-image: url('/img/card_sample.png'); 
    background-size: cover;
    /*transform: translateX(-50%) translateY(-50%);*/
    position: absolute; 
}

.played_cards_box{
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.card1_box{
    left: 0vh;
    z-index: 8;
}
.card2_box{
    left: 6vh;
    z-index: 7;
}
.card3_box{
    left: 12vh;
    z-index: 6;
}
.card4_box{
    left: 18vh;
    z-index: 5;
}
.card5_box{
    left: 24vh;
    z-index: 4;
}
.card6_box{
    left: 30vh;
    z-index: 3;
}
.card7_box{
    left: 36vh;
    z-index: 2;
}
.card8_box{
    left: 42vh;
    z-index: 1;
}