<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap  -->

    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    -->

    
    <link rel="stylesheet" href="links/bootstrap1.css">
    

    <!--
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    -->

    
    <link rel="stylesheet" href="links/bootstrap2.css">
    

    <link rel="stylesheet" href="style/cards.css">
    <link rel="stylesheet" href="style/button.css">
    <link rel="stylesheet" href="style/game.css">

    <title>The Mind</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="links/phonetouch.js"></script>
</head>

<body style="background-image: url('/img/background.jpg'); background-size: 150%;">

    <div class="container">
        <div class="row" style="height: 2vh;"></div>
        <div class="row justify-content-center" style="height: 20vh;">
            <div class="col-4 text-center player_box" id="player_box1">
                <div id="1" class="player_name"></div>
                <div class="img_box">
                    <img src="/img/hatlap2.png" class="player_card_img">
                    <div class="left_cards" id="left_cards1"></div>
                </div>  
            </div>
            <div class="col-4 text-center player_box" id="player_box0">
                <div id="0" class="player_name"></div>
                <div class="img_box">
                    <img src="/img/hatlap2.png" class="player_card_img">
                    <div class="left_cards" id="left_cards0"></div>
                </div>
            </div>
            <div class="col-4 text-center player_box" id="player_box2">
                <div id="2" class="player_name"></div>
                <div class="img_box">
                    <img src="/img/hatlap2.png" class="player_card_img">
                    <div class="left_cards" id="left_cards2"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="height: 40vh;">
            <div class="col-4 text-center">
                <div class="player_box" style="height: 20vh; top: 0%;" id="player_box3">
                    <div id="3" class="player_name"></div>
                    <div class="img_box">
                        <img src="/img/hatlap2.png" class="player_card_img">
                        <div class="left_cards" id="left_cards3"></div>
                    </div>
                </div>
                <div class="player_box" style="height: 20vh; bottom: 0%;" id="player_box5">
                    <div id="5" class="player_name"></div>
                    <div class="img_box">
                        <img src="/img/hatlap2.png" class="player_card_img">
                        <div class="left_cards" id="left_cards5"></div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="position: relative;">
                <div id="dropbox" class="played_cards_box">
                    <div id="played_cards" class="card_center">0</div>
                    <div id="played_cards0" class="card_topleft">0</div>
                    <div id="played_cards1" class="card_topright">0</div>
                    <div id="played_cards2" class="card_botleft">0</div>
                    <div id="played_cards3" class="card_botright">0</div>
                </div>
                <div id="indicator_text"></div>
            </div>
            <div class="col-4 text-center">
                <div class="player_box" style="height: 20vh; top: 0%;" id="player_box4">
                    <div id="4" class="player_name"></div>
                    <div class="img_box">
                        <img src="/img/hatlap2.png" class="player_card_img">
                        <div class="left_cards" id="left_cards4"></div>
                    </div>
                </div>
                
                <div class="player_box" style="height: 20vh; bottom: 0%;" id="player_box6">
                    <div id="6" class="player_name"></div>
                    <div class="img_box">
                        <img src="/img/hatlap2.png" class="player_card_img">
                        <div class="left_cards" id="left_cards6"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-12" style="position: relative; height: 7vh;">
                <div id="ready_div" style="transform: translateX(-50%); position: absolute; top: -3vh; left: 50%;">
                    <style>
                        .toggle.ios,
                        .toggle-on.ios,
                        .toggle-off.ios {
                            border-radius: 5vh;
                        }

                        .toggle.ios .toggle-handle {
                            border-radius: 5vh;
                        }
                    </style>
                    <input type="checkbox" data-toggle="toggle" data-on="Ready" data-off="Unready"
                        data-onstyle="success" id="ready" data-offstyle="danger" data-style="ios">
                </div>
                <div>
                    <form action="/" method="POST">
                        <input type="hidden" id="player" name="name" value="<%= name %>">
                        <input type="hidden" name="level" id="level" value="<%= level %>">
                        <input type="submit" id="try_again" value="Try again" style="transform: translateX(-50%); position: absolute; top: -3vh; left: 50%;">
                        <input type="submit" id="next_level" value="Next level" style="transform: translateX(-50%); position: absolute; top: -3vh; left: 50%;">
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12" style="position: relative; height: 26vh; max-width: 60vh;">
                <div id="card1_box" class="card1_box">
                    <div id="card1" class="card_center"></div>
                    <div id="card10" class="card_topleft"></div>
                    <div id="card11" class="card_topright"></div>
                    <div id="card12" class="card_botleft"></div>
                    <div id="card13" class="card_botright"></div>
                </div>
                <div id="card2_box" class="card2_box">
                    <div id="card2" class="card_center">100</div>
                    <div id="card20" class="card_topleft">100</div>
                    <div id="card21" class="card_topright">100</div>
                    <div id="card22" class="card_botleft">100</div>
                    <div id="card23" class="card_botright">100</div>
                </div>
                <div id="card3_box" class="card3_box">
                    <div id="card3" class="card_center">100</div>
                    <div id="card30" class="card_topleft">100</div>
                    <div id="card31" class="card_topright">100</div>
                    <div id="card32" class="card_botleft">100</div>
                    <div id="card33" class="card_botright">100</div>
                </div>
                <div id="card4_box" class="card4_box">
                    <div id="card4" class="card_center">100</div>
                    <div id="card40" class="card_topleft">100</div>
                    <div id="card41" class="card_topright">100</div>
                    <div id="card42" class="card_botleft">100</div>
                    <div id="card43" class="card_botright">100</div>
                </div>
                <div id="card5_box" class="card5_box">
                    <div id="card5" class="card_center">100</div>
                    <div id="card50" class="card_topleft">100</div>
                    <div id="card51" class="card_topright">100</div>
                    <div id="card52" class="card_botleft">100</div>
                    <div id="card53" class="card_botright">100</div>
                </div>
                <div id="card6_box" class="card6_box">
                    <div id="card6" class="card_center">100</div>
                    <div id="card60" class="card_topleft">100</div>
                    <div id="card61" class="card_topright">100</div>
                    <div id="card62" class="card_botleft">100</div>
                    <div id="card63" class="card_botright">100</div>
                </div>
                <div id="card7_box" class="card7_box">
                    <div id="card7" class="card_center">100</div>
                    <div id="card70" class="card_topleft">100</div>
                    <div id="card71" class="card_topright">100</div>
                    <div id="card72" class="card_botleft">100</div>
                    <div id="card73" class="card_botright">100</div>
                </div>
                <div id="card8_box" class="card8_box">
                    <div id="card8" class="card_center">100</div>
                    <div id="card80" class="card_topleft">100</div>
                    <div id="card81" class="card_topright">100</div>
                    <div id="card82" class="card_botleft">100</div>
                    <div id="card83" class="card_botright">100</div>
                </div>
            </div>
        </div>
    </div>

    

    <script src="../socket.js" type="text/javascript"></script>

    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    -->

    
    <script src="links/jquery1.js"></script>
    

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
        integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
        crossorigin="anonymous"></script>
    -->
    
    <script src="links/ajax1.js"></script>
    

    <!--
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    -->
    
    <script src="links/bootstrap3.js"></script>
    

    <!--
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    -->

    
    <script src="links/bootstrap4.js"></script>
    
</body>

</html>