<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap  -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="style/cards.css">

    <title>The Mind</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-3 text-center" style="border: 1px black solid; height: 100px; position: relative;">
                <div id="1"></div>
                <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 text-center" style="border: 1px black solid; height: 100px; position: relative;">
                <div id="0"></div>
                <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 text-center" style="border: 1px black solid; height: 100px; position: relative;">
                <div id="2"></div>
                <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                </div>
            </div>

        </div><br>
        <div class="row justify-content-center" style="height: 200px;">
            <div class="col-3 text-center">
                <div style="border: 1px black solid; height: 100px; position: relative;">
                    <div id="3"></div>
                    <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                    </div>
                </div>
                <br>
                <div style="border: 1px black solid; height: 100px; position: relative;">
                    <div id="5"></div>
                    <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                    </div>
                </div>
            </div>
            <div class="col-6" style="position: relative;">
                <div id="dropbox" class="played_cards_box">
                    <div id="played_cards" class="card_center">0</div>
                    <div id="played_cards0" class="card_topleft">0</div>
                    <div id="played_cards1" class="card_topright">0</div>
                    <div id="played_cards2" class="card_botleft">0</div>
                    <div id="played_cards3" class="card_botright">0</div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div style="border: 1px black solid; height: 100px; position: relative;">
                    <div id="4"></div>
                    <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                    </div>
                </div>
                <br>
                <div style="border: 1px black solid; height: 100px; position: relative;">
                    <div id="6"></div>
                    <div style="background-image: url('/img/hatlap2.png'); background-size: cover; height: 80px; width: 84px;
                            transform: translateX(-50%) translateY(-50%); position: absolute; top: 65%; left: 50%;">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center" style="height: 200px; border: 1px black solid;">
            <div class="col-1">
                <div id="ready_div">
                    <style>
                        .toggle.ios,
                        .toggle-on.ios,
                        .toggle-off.ios {
                            border-radius: 20px;
                        }

                        .toggle.ios .toggle-handle {
                            border-radius: 20px;
                        }
                    </style>
                    <input type="checkbox" data-toggle="toggle" data-on="Ready" data-off="Unready"
                        data-onstyle="success" id="ready" data-offstyle="danger" data-style="ios">
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4" style="position: relative; min-width: 500px; min-height: 200px; border: 1px tomato solid;">
                <div id="card1_box" class="card1_box">
                    <div id="card1" class="card_center"></div>
                    <div id="card10" class="card_topleft"></div>
                    <div id="card11" class="card_topright"></div>
                    <div id="card12" class="card_botleft"></div>
                    <div id="card13" class="card_botright"></div>
                </div>
                <div id="card2_box" class="card2_box">
                    <div id="card2" class="card_center">100</div>
                    <div id="card20" class="card_topleft">100</div>
                    <div id="card21" class="card_topright">100</div>
                    <div id="card22" class="card_botleft">100</div>
                    <div id="card23" class="card_botright">100</div>
                </div>
                <div id="card3_box" class="card3_box">
                    <div id="card3" class="card_center">100</div>
                    <div id="card30" class="card_topleft">100</div>
                    <div id="card31" class="card_topright">100</div>
                    <div id="card32" class="card_botleft">100</div>
                    <div id="card33" class="card_botright">100</div>
                </div>
                <div id="card4_box" class="card4_box">
                    <div id="card4" class="card_center">100</div>
                    <div id="card40" class="card_topleft">100</div>
                    <div id="card41" class="card_topright">100</div>
                    <div id="card42" class="card_botleft">100</div>
                    <div id="card43" class="card_botright">100</div>
                </div>
                <div id="card5_box" class="card5_box">
                    <div id="card5" class="card_center">100</div>
                    <div id="card50" class="card_topleft">100</div>
                    <div id="card51" class="card_topright">100</div>
                    <div id="card52" class="card_botleft">100</div>
                    <div id="card53" class="card_botright">100</div>
                </div>
                <div id="card6_box" class="card6_box">
                    <div id="card6" class="card_center">100</div>
                    <div id="card60" class="card_topleft">100</div>
                    <div id="card61" class="card_topright">100</div>
                    <div id="card62" class="card_botleft">100</div>
                    <div id="card63" class="card_botright">100</div>
                </div>
                <div id="card7_box" class="card7_box">
                    <div id="card7" class="card_center">100</div>
                    <div id="card70" class="card_topleft">100</div>
                    <div id="card71" class="card_topright">100</div>
                    <div id="card72" class="card_botleft">100</div>
                    <div id="card73" class="card_botright">100</div>
                </div>
                <div id="card8_box" class="card8_box">
                    <div id="card8" class="card_center">100</div>
                    <div id="card80" class="card_topleft">100</div>
                    <div id="card81" class="card_topright">100</div>
                    <div id="card82" class="card_botleft">100</div>
                    <div id="card83" class="card_botright">100</div>
                </div>
            </div>
            <div class="col-2" style="position: relative; border: 1px blue solid;">
                <div style="position: absolute;">
                    <form action="/" method="POST">
                        <input type="hidden" id="player" name="name" value="<%= name %>">
                        <input type="hidden" name="level" id="level" value="<%= level %>">
                        <input type="submit" id="try_again" value="Try again">
                        <input type="submit" id="next_level" value="Next level">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="debug"></div>

    <script src="../socket.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
        integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</body>

</html>